#banner {
    z-index:100; 
    background-color:black;  
    position:fixed; 
    color:white;
    top:10px;
    right:10px;
    left:10px;
    padding-top:12px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:12px;
    
    border-radius:10px;
}

#prev_button, #next_button {
    width:150px;
}

#treebox {
    z-index:100; 
    background-color:black;  
    position:fixed; 
    color:white;
    top:80px;
    right:10px;
    width:10%;
    font-size:small;
    padding:10px;
    border-radius:10px;
    text-align:left;
}

#treebox a {
    color:white;
    text-decoration:underline;
    cursor:pointer;
}

#photobox {
    float:left; 
    margin-top:60px; 
    width:87%; 
    clear:both;
    margin-left:auto;
}

#photobox img {
    border-style:solid;
    border-width:4px;
    border-color:black;
}

#photobox img.selected {
    border-color:red;
}

body {
    background-color:#333;
    text-align:center;
}

#fullscreen_background {
    z-index:998;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:black;
    position:fixed;
}

.fullscreen {
  z-index: 999;
  /*min-height: 100%;
  min-width: 1024px;*/
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  margin: 0px auto;
}


ul.tree, ul.tree ul { 
    list-style-type: none; 
    background: url(vline.png) repeat-y; 
    margin: 0; 
    padding: 0; 
} 

ul.tree ul { 
    margin-left: 10px; 
} 

ul.tree li { 
    margin: 0; 
    padding: 0 12px; 
    line-height: 20px; 
    background: url(node.png) no-repeat; 
    color: #369; 
 } 

 ul.tree li:last-child { 
    background:black url(lastnode.png) no-repeat; 
}





